/* sidebar */

.sidebar {
  height: 80px;
  width: 80px;
  background-color: #f04907;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bars {
  margin-left: 0;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: rgb(33, 190, 33);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(34, 114, 34);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #e26d06;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Header*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content p {
  color: orange;
}

.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  height: 80px;
  margin-right: 10px;
}

.site-logo p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
