/* Sidebar */

.menu-bars {
  margin-left: 0;
  font-size: 2rem;
  background: none;
  color: orange
}
.nav-menu {
  background-color: rgb(33, 190, 33);
  width: 240px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(34, 114, 34);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content:center ;
  align-items: center;

}

/*Header*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content p {
  color: orange;
}

.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  height: 80px;
  margin-right: 10px;
}

.site-logo p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}


/*Podcast display styling*/

/* General container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for the header */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Error message styling */
.error-message {
  color: red;
  text-align: center;
}

/* Styling for the list of posts */
ol {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.season-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

/* Styling for each card */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px orange;
  overflow: hidden;
  width: calc(16.666% - 20px);
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Image styling */
.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

/* Card content styling */
.card-content {
  padding: 15px;

}

.card-link {
  text-decoration: none;
  color: inherit; 
}

h1 {
  color: rgb(33, 190, 33);

}
.card-content h2 {
  font-size: 1.5em;
  margin: 0 0 10px;

}

.card-content p {
  margin: 0 0 10px;
  color: #555;
}

/* Media Player*/

.media-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

.audio-player {
  width: 100%;
}

.audio-player::-webkit-media-controls-panel {
  background-color: rgba(33, 190, 33, 0.2);
  border-radius: 5px;
  padding: 5px;
  
}